/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: lch(77% 82.59 76.53);
  --accent-secondary: lch(67.09% 75.84 72.29);
  --main-text: lch(100% 0.01 296.81);
  --main-background: lch(5.46% 4.99 276.76);
  --secondary-text: rgb(229, 233, 240);
  --secondary-background: lch(16.61% 11.4 278.82);
  
  --gray: rgb(96, 115, 159);
  --border-round: 3rem;
  --border-w1: 2px;
  --border-w2: 4px;
}

.c1 {
  --main-text: oklch(98.5% 0 0);
  --secondary-text: oklch(70.4% 0.04 256.788);
  --main-background: oklch(14.5% 0 0);
  --secondary-background: oklch(20.61% 0.04 256.788);
  --tertiary-background: oklch(25.61% 0.04 256.788);
  --accent: oklch(82.8% 0.189 84.429);
  --accent-secondary: oklch(66.6% 0.179 58.318)
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--main-background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--main-text);
  font-size: 1.3rem;
  line-height: 1.7;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  background-color: var(--secondary-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--main-text);
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--tertiary-background);
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid var(--secondary-background);
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.custom-select-element {
  display: flex;
  justify-content: flex-end;

  p {
    display: flex;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  label {
    width: fit-content;
    align-self: center;
  }

  select {
    background-color: var(--secondary-background);
    padding: .5rem 1.5rem;
    border: 2px solid var(--main-text);
    border-radius: 99999px;
    color: var(--main-text);
    font-size: 1rem;
    transition: 0.4s;
  }

  select:hover {
    background: var(--secondary-background);
  }

  select::picker-icon {
    color: var(--main-text);
    transition: 0.3s rotate;
    width: 1rem;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  ::picker(select) {
    border: none;
  }

  option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border: 2px solid var(--main-text);
    padding: 10px;
    transition: 0.4s;
  }

  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  option:not(option:last-of-type) {
    border-bottom: none;
  }

  option:hover,
  option:focus {
    background: plum;
  }

  option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
  }

  selectedcontent .icon {
    display: none;
  }

  option:checked {
    font-weight: bold;
  }

  option::checkmark {
    order: 1;
    margin-left: auto;
    content: "✓";
  }

  ::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
  }

  ::picker(select):popover-open {
    opacity: 1;
  }

  @starting-style {
    ::picker(select):popover-open {
      opacity: 0;
    }
  }

  ::picker(select) {
    top: calc(anchor(bottom) + 1px);
    left: anchor(10%);
  }
}