$colorPrimary: #070c30;
$colorPrimaryLight: #31335a;
$colorPrimaryDark: #00000a;

$colorSecondary: #f2be4e;
$colorSecondaryLight: #fff07e;
$colorSecondaryDark: #bc8e1a;

$colorTextLight: #f3f3f3;
$colorTextDark: #1f1f1f;

$colorLight: #f3f3f3;
$colorDark: #1f1f1f;