---
import HeaderLink from "./HeaderLink.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";

import { SITE_TITLE } from "../consts";
import { getRelativeLocaleUrl } from "astro:i18n";

const homePath = getRelativeLocaleUrl("en", "")
const blogPath = getRelativeLocaleUrl("en", "blog")
---

<header>
  <nav class="main-nav">
    <h2 class="site-logo">
      <a href={homePath} class="site-logo__link">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      <HeaderLink href={homePath}>Home</HeaderLink>
      <HeaderLink href={blogPath}>Blog</HeaderLink>
    </div>
    <div class="user-settings">
      <LanguageSwitcher />
    </div>
  </nav>
</header>
<style>
  .main-nav {
    margin: 0px 2rem;
    padding: 0 1rem;
    border-color: var(--secondary-text);
    border-bottom-style: solid;
    border-width: var(--border-w2);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .site-logo {
    margin: 0;
    display: flex;
    align-items: center;
    text-shadow: 0 0 4px var(--secondary-text);
  }
  .site-logo__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-text);
  }
  .internal-links {
    display: flex;
    justify-content: center;
  }
  .user-settings {
    display: flex;
    align-items: center;
    justify-content: end;
  }
</style>
