---
import HeaderLink from "./HeaderLink.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";

import { SITE_TITLE } from "../consts";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getPathParts } from "../utils/paths";

const [currentLang, ..._restOfPathname] = getPathParts(Astro.url.pathname);
const homePath = getRelativeLocaleUrl(currentLang, "");
const blogPath = getRelativeLocaleUrl(currentLang, "blog");
---

<header>
  <nav class="main-nav">
    <h2 class="site-logo">
      <a href={homePath} class="site-logo__link">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      <HeaderLink href={homePath}>Home</HeaderLink>
      <HeaderLink href={blogPath}>Blog</HeaderLink>
    </div>
    <div class="user-settings">
      <LanguageSwitcher />
    </div>
  </nav>
</header>
<style>
  .main-nav {
    margin: 0px 2rem;
    padding: 0 1rem;
    border-color: var(--secondary-text);
    border-bottom-style: solid;
    border-width: var(--border-w2);
    display: grid;
    grid-template-columns: [logo] 1fr [nav] 1fr [settings] 1fr;
  }
  .site-logo {
    margin: 0;
    display: flex;
    align-items: center;
    text-shadow: 0 0 4px var(--secondary-text);
    grid-column: logo;
  }
  .site-logo__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-text);
  }
  .internal-links {
    display: flex;
    justify-content: center;
    grid-column: nav;
  }
  .user-settings {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: settings;
  }

  @media (max-width: 720px) {
    .main-nav {
      margin: 1rem;
      display: grid;
      grid-template-columns: [logo] 1fr [settings] 1fr;
      grid-template-rows: [nav-top] 1fr [nav-mid] 1fr [nav-bottom];
    }
    .site-logo {
      grid-row: nav-top;
      grid-column: logo;
    }

    .internal-links {
      grid-row: nav-mid;
      grid-column: logo / 3;
    }

    .user-settings {
      grid-row: nav-top;
      grid-column: settings;
    }
  }
</style>
