---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    border-radius: var(--border-round);
    margin: var(--border-w2);
  }
  a.active {
    background: var(--accent);
    background: radial-gradient(
      circle,
      rgba(191, 123, 50, 1) 0%,
      rgba(251, 181, 0, 1) 100%
    );
  }
  a:hover {
    background: rgba(251, 181, 0, 1) 100%;
  }
</style>
