---
import HeaderLink from "./HeaderLink.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";

import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="main-nav">
    <h2 class="site-logo">
      <a href="/" class="site-logo__link">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/en-en/">Home</HeaderLink>
      <HeaderLink href="/en-en/blog">Blog</HeaderLink>
    </div>
    <div class="user-settings">
      <LanguageSwitcher></LanguageSwitcher>
    </div>
  </nav>
</header>
<style>
  .main-nav {
    margin: 0px 2rem;
		padding: .5rem 1rem;
		border-color: rgb(var(--gray));
		border-bottom-style: solid;
		border-width: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .site-logo__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
  }
  .internal-links {
    margin: 0.5rem 0;
    display: flex;
  }
</style>
