<select name="language-switcher" id="language-switcher">
    <button>
        <selectedcontent></selectedcontent>
    </button>

    <option value="en-en">English</option>
    <option value="pl-pl">Polski</option>
</select>