---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!DOCTYPE html>
<html lang="en" class="c1">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello there!</h1>
      <p>
        Nic tu nie ma... niczego tu nie znajdę...
      </p>
    </main>
    <Footer />
  </body>
</html>
